@font-face {
    font-family: 'TT Commons Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Regular.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Thin.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Thin Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons ExtraLight Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Light';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Light.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Light Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Light Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Medium';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Medium.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Medium Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons DemiBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons DemiBold.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons DemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons DemiBold Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Bold';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Bold.woff') format('woff');
}
@font-face {
    font-family: 'TT Commons Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Bold Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons ExtraBold Italic.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Black';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Black.woff') format('woff');
}

@font-face {
    font-family: 'TT Commons Black Italic';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/TT Commons Black Italic.woff') format('woff');
}
