// Typography: font-family
$font-family-light: 'TT Commons Light', sans-serif;
$font-family-regular: 'TT Commons Regular', sans-serif;
$font-family-bold: 'TT Commons Medium', sans-serif;

// Colour Pallete
$white: #fff;
$black: #333;
$purple: #7646ec;
$green: #1a936f;
$blue: #0a85ea;
$error-red: #bb4430;
$light-grey: #ebebeb;
$dark-grey: darken($light-grey, 10);

// Spacing
$spacer: 1.6rem;


// Breakpoints
$breakpoint-small: 577px;
$breakpoint-medium: 769px;
$breakpoint-large: 993px;
$breakpoint-extra-large: 1201px;
$breakpoint-largest: 1441px;

// Standard Border Radius
$regular-border-radius: 8px;

// Special boder
$special-border: 0.2rem;