<section class="container">
    <h1 class="header header--one">Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class='input__container'>
            <input
                class='form__input'
                placeholder="Email"
                formControlName="email"
                id="email"
                type="text"
                autocomplete="off"
            />
            <input
                class='form__input'
                placeholder="Password"
                formControlName="password"
                id="password"
                type="password"
                autocomplete="off"
            />
        </div>

        <button class='button button--primary' type="submit">
            <span *ngIf='loaded; else loading'>Login</span>
        </button>

        <ng-template #loading>
            <i class="fa-solid fa-spinner-third fa-spin"></i>
        </ng-template>

        <p  class='error-message' *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
</section>
